@keyframes waves {
    from{background-position-x:0;}
    to{background-position-x:1000px;}
}
@keyframes fadeout {
    from{opacity: 1;}
    to{opacity: 0;}
}
@keyframes fadein
{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes tilemenu {
    from{opacity: 0; transform: translateY(60px);}
    to{opacity: 1; transform: translateY(0px);}
}
@keyframes tilemenu2 {
    from{opacity: 0; transform: translateY(0px);}
    to{opacity: 1; transform: translateY(60px);}
}
@keyframes tilemenu3 {
    from{opacity: 1; transform: translateY(60px);}
    to{opacity: 0; transform: translateY(0px);}
}
@keyframes tilemenu4 {
    from{opacity: 1; transform: translateY(0px);}
    to{opacity: 0; transform: translateY(60px);}
}