@keyframes waves {
    from{background-position-x:0;}
    to{background-position-x:1000px;}
}
@keyframes arrow
{
    0%{transform: translateY(0px);}
    25%{transform: translateY(25px);}
    50%{transform: translateY(0px);}
    100%{transform: translateY(0px);}
}