@media screen and (max-width:1280px) {
	#backlog{
        height: 3vh;
	}
}
@media (orientation: portrait){
    .downbtn{
        width: 100%;
        margin-bottom: 100%;
    }
    .downbtn.down{
        margin-bottom: 56.25%;
    }
    .tilecontainer{
        width: 400px;
        height: 400px;
        margin: 5px;
    }
    .tilecontainer.tile1{
        margin-left: 5px;
    }
    .tiles{
        max-width: 830px;
    }
    #aboutimage{
        height: 30%;
    }
    #power2{
        width: 60%;
    }
    #quickmenu{
        transform: translateX(300px);
    }
    #power{
        transform: scale(1);
        height: 70px;
        width: 70px;
    }
    .menubtn{
        transform: scale(1.5);
    }
    .port,.tiletxt
    {
        font-size: 310%;
    }
    .tiletxt
    {
        bottom: 0;
    }
    .bottomtile{
        height: 35vh;
    }
    #backlog
    {
        height: 1.6vh;
    }
    .titlefonts
    {
        font-size: 450%;
        margin-bottom: 50px;
    }
    .button
    {
        transform: scale(1.35);
    }
    .button:hover
    {
        transform: scale(1.2);
    }
    #page2
    {
        opacity: 1;
        background-image: url('tile5.png');
        display: block;
        top: 48vh;
    }
    #page1
    {
        top: 10vh;
        background-image: url('tile3.png');
    }
    #rbut,#lbut,#dbut,.menubtn,.prog,canvas,#menubackg,.tilesubtxt
    {
        display: none;
    }
    .butcon
    {
        background-color: #322886;
        height: 30vh;
        width: 90%;
        left: 5%;
        line-height: 17vh;
        border-radius: 10px;
        transform: scale(1);
        background-blend-mode:color-dodge;
        background-position: center;
        background-size: cover;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.233);
    }
    .butcon:hover
    {
        transform: scale(0.95);
    }
    .port
    {
        margin-top: 70px;
    }
    .portraitbuttons
    {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 4;
        background: transparent;
        border: 0px;
    }
    .tiletxtcontain
    {
        opacity: 0.4;
    }
}