@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');
*
{
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}
:root 
{
	--blue: #1b1174;
	--pink: #E49EE6;
	--black: #000;
	--alblack: #000;
	--alblue: #2a1f8c;
	--white: #FFF;
	--gray: #C9C9C9;
	--purple: #271252;
	--red: #D31111;
	--alred: #D31111;
    --newgreytop: #2e2e2e;
    --newgreybottom: #232323;
}
body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 200vh;
    overflow-x: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #232323;
}
canvas{
    background: transparent;
    width: 100vw;
    height: 100vh;
    transform: translateY(-80vh);
    z-index: 1;
  }
  .ne2{
    width: 250px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 35px;
    left: calc(50% - 125px);
    background: none;
    color: white;
    font-size: 30px;
    font-family: arial;
    text-align: center;
    border: 1px solid white;
    background: rgba(255,255,255,0.2);
  }
.ne{
position: fixed;
left: 0;
bottom:5px;
color: #fff;
z-index:10;
font-size:16px;
font-family: Helvetica, Verdana, sans-serif;
opacity:0;
width: 100%;
text-align: center;
margin: 0;
}
::-webkit-scrollbar
{
    display: none;
}
#title, #selector
{
    position: absolute;
    top: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 2px;
    z-index: 3;
    text-align: center;
    transition: 0.3s;
}
#topbar
{
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(1);
    transform-origin: left top;
    opacity: 1;
    z-index: 4;
    transition: 0.5s ease;
}
.topbuttons
{
    position: relative;
    display: none;
    height: inherit;
    bottom:40px;
    width: 13%;
    z-index: inherit;
    font-size: xx-large;
    font-weight: bolder;
    background: transparent;
    border: 0px;
    color: rgba(255, 255, 255, 0.7);
}
.topbuttons:hover
{
    filter: brightness(0.5);
}
#nicon
{
    position: relative;
    display: inline-block;
    height: 100%;
    width: auto;
    z-index: inherit;
    padding: 5px;
    cursor: pointer;
}
#nicon:hover
{
    filter: brightness(0.5);
}
#vid
{
    position: absolute;
	top: 0;
	min-width: 100%; 
	min-height: 100%;
    background-image: linear-gradient(to right, var(--blue), var(--purple));
    overflow: hidden;
}
@keyframes waves {
    from{background-position-x:0;}
    to{background-position-x:1000px;}
}
.wave {
    position: absolute;
    background-image: url('wave.png');
    opacity: 0.02;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 0;
    background-size: 1000px 100px;
    transition: 1.2s;
    animation: waves 3s linear infinite;
}
.wave.wave2{
    bottom: -10px;
}
.wave.wave3
{
    bottom: 10px;
}
.wave.wave4
{
    bottom: -20px;
    opacity: 1;
    background-image: url('wave2.png');
    filter: blur(1px);
}
.homeimg
{
    position: absolute;
    top: 0;
    left: 0;
    height: 110%;
    width: 110%;
    opacity: 0.1;
    background-image: url('tile3.png');
    background-size: cover;
    background-position: center;
    transition: 0.7s ease;
}
.menubtn
{
    padding: 10px 40px;
    color: #fff;
    background-color: rgba(80, 80, 80, 0.5);
    border: solid 5px transparent;
    letter-spacing: 5px;
    font-size: 20px;
    border-radius: 50px;
    cursor: pointer;
}
.menubtn:hover
{
    border: solid 5px rgba(80, 80, 80, 0.5);
}
.menu
{
    position: fixed;
    transform: translateY(-150px);
    transform-origin: top left;
    top: 0px;
    left: 15px;
    height: auto;
    width: auto;
    z-index: 5;
    transition: 0.5s ease
}
#menubackg
{
    position: absolute; 
    height: 120%; 
    width: 45%; 
    background-color: var(--gray);
    transform: translateY(-113px);
    left: -3.3%; 
    top: 0px; 
    border-radius: 0px 0px 70px 70px;
    transition: 0.5s ease;
}
.menutxt
{
    position: absolute;
    display: block;
    left: 0px;
    transform: translateX(70px);
    font-weight: bold;
    top: 0;
    line-height: 50px;
    font-size: 20px;
    opacity: 0;
    transition: 0.3s ease;
}
.menucont
{
    position: relative;
    display: block;
    margin-bottom: 20px;
    height: 50px;
    width: 130px;
}
.button:hover + .menutxt
{
    transform: translateX(60px);
    opacity: 1;
}
.button
{
    position: absolute;
    background-size: 100%;
    background-position: center;
    background-color: #FFF;
    border: 2px solid #fff;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    transform: scale(1);
    cursor: pointer;
    transition: 0.3s ease;
}
.button:hover
{
    border: 3px solid red;
    transform: scale(0.9);
}
.arrowbut
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 4px;
    border-radius: 10px;
    background-color: #000;
    transform: rotate(0deg);
    transition: 0.2s;
}
.arrowbut:after
{
    content: "";
    position: absolute;
    width: 20px;
    left: 0;
    height: 4px;
    border-radius: 10px;
    transform: rotate(0deg);
    background-color: #000;
    transition: 0.2s;
}
.button:hover .arrowbut
{
    background-color: red;
    transform: rotate(45deg);
}
.button:hover .arrowbut:after
{
    background-color: red;
    transform: rotate(90deg);
}
#tilebtn
{
    opacity: 0;
    display: none;
}
.tiles
{
    position: relative;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(0px);
    transform-origin: top center;
    max-width: 1020px;
    width: auto;
    opacity: 1;
    height: auto;
    top: 60px;
    transition: 0.5s ease;
}
.tilecontainer
{
    position: relative;
    border-radius: 10px;
    display: inline-block;
    background-color: #FFF;
    height: 180px;
    margin: 10px;
    width: 180px;
    background-position: center;
    background-size: 90%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    transition: 0.5s ease;
}
.tilecontainer:hover
{
    background-size: 105%;
}
.portfo, .otherpa
{
    position: fixed;
    top: 0;
    z-index: 4;
    left: 0;
    opacity: 0;
    display: none;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;
    align-items: center;
    align-content: center;
    background-color: rgb(238, 238, 238);
    transition: 0.3s;
}
.tilecontainer.tile1
{
    margin-left: 10%;
    background-image: url('icons/portfolio.png');
}
.tilecontainer.tile2
{
    background-image: url('icons/animations.png');
}
.tilecontainer.tile3
{
    background-image: url('icons/photoshop.png');
}
.tilecontainer.tile4
{
    background-image: url('icons/error.png');
}
.tiletxt
{
    position: absolute;
    left: 10px;
    bottom: 22%;
    font-size: 20px;
    font-weight: bold;
}
.tilesubtxt
{
    position: absolute;
    bottom: 12%;
    left: 10px;
}
.tiletxtcontain
{
    position: absolute;
    height: 110%;
    width: 100%;
    background-image: linear-gradient(transparent,black);
    opacity: 0;
    color: #fff;
    top: -10%;
    transition: 0.5s ease;
}
.tilecontainer:hover .tiletxtcontain
{
    opacity: 0.7;
}
.tilemenu
{
    position: relative;
    z-index: 3;
    margin-left: auto;
    margin-right: auto;
    display: none;
    transform-origin: top center;
    transform: translateY(0px);
    opacity: 0;
    width: 70%;
    height: auto;
    top: 0px;
    border-radius: 10px;
    transition: 0.5s ease;
}
.slide
{
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    left: 0;
    border-radius: 10px;
    margin: 10px 0px;
    perspective-origin: center;
    background-color: #fff;
    transform-origin: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    transition: 0.4s ease;
}
.slides
{
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    cursor: pointer;
    left: 0;
    border-radius: 10px;
    margin: 5px 0px;
    background-color: #fff;
    transform-origin: center;
    opacity: 1;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
.slides:hover
{
    opacity: 0.8;
}
#quickmenu
{
    position: fixed;
    right: 1.7%;
    height: 70%;
    top: 17%;
    width: 12%;
    display: none;
    opacity: 0;
    overflow-y: scroll;
    border-radius: 10px;
    transition: 0.5s;
}
.downbtn
{
    position: relative;
    display: inline-block;
    background-color: transparent;
    width: 47%;
    margin: 5px;
    height: 110px;
}
.downbtnimg
{
    position: absolute;
    height: 100%;
    left: 0;
    width: auto;
    background-color: #fff;
    border: 3px solid #000;
    border-radius: 10px;
}
.downbtnlayer
{
    position: absolute;
    left: 113px;
    border-radius: 10px;
    width: 70%;
    height: 110px;
    background-color: var(--alblack);
    transform: scaleX(0);
    transform-origin: left;
    color: #fff;
    font-size: 20px;
    text-align: center;
    transition: 0.7s ease;
}
.downcontain
{
    position: absolute;
    right: 0;
    height: 110px;
    width: 100%;
    background-color: var(--gray);
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.vids
{
    position: absolute;
    right: 0;
    top: 115px;
    border: 0;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
}
.youtext
{
    padding-left: 1px;
    opacity: 0;
    line-height: 110px;
    transition: 0.3s;
}
.imgreel
{
    position: relative;
    margin: 10px 0px;
    width: 100%;
    display: inline;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    vertical-align: top;
    transform: scale(1);
    transition: 0.3s;
}
.imgreel:hover
{
    transform: scale(1.025);
}
.col
{
    position: absolute;
    height: 100%;
    width: 49.2%;
}
#power,#power3
{
    position: fixed;
    bottom: 4%;
    left: 10px;
    height: 50px;
    width: 50px;
    background-color: #fff;
    background-image: url('icons/info.png');
    background-size: 60%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    transform: scale(1);
    cursor: pointer;
    border: 3px solid transparent;
    transition: 0.3s;
}
#power3
{
    background-size: 80%;
}
#power2
{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 14%;
    z-index: 30;
    width: 60%;
    height: 70%;
    font-size: x-large;
    overflow-x: hidden;
    letter-spacing: 5px;
    border-radius: 10px;
    overflow-y: scroll;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to right, rgb(245, 245, 245), rgb(165, 165, 165));
}
#backplate
{
    position: fixed;
    z-index: 29;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(65, 44, 197, 0.5);
    opacity: 0;
    display: none;
    transition: 0.4s;
}
#power:hover,#power3:hover
{
    transform: scale(0.9);
    border: 3px solid red;
}
.butcon
{
    width: 100%;
    height: 20vh;
    top: 33vh;
    left: 0;
    position: absolute;
    z-index: 1;
    opacity: 1;
    transition: 0.4s ease;
}
.sidebut,#dbut
{
    position: absolute;
    font-size: 80px;
    padding: 100px 10px;
    font-weight: bold;
    color: #fff;
    top: 30vh;
    background: rgba(238, 238, 238,0.1);
    border-radius: 10px;
    border: 0px;
    z-index: 4;
    opacity: 1;
    cursor: pointer;
    transition: 0s;
}
#dbut
{
    animation: arrow 3s infinite;
}
@keyframes arrow
{
    0%{transform: translateY(0px);}
    25%{transform: translateY(25px);}
    50%{transform: translateY(0px);}
    100%{transform: translateY(0px);}
}
.sidebut:hover
{
    opacity: 0.5;
}
.bottomtile
{
    position: absolute;
    width: 50%;
    height: 50vh;
    background-color: #2a1f8c;
    top: 125vh;
    color: #fff;
    border-radius: 20px;
    transition: 1.5s ease;
    background-image: url('tile59.png');
    filter: grayscale(0.8);
    transform: scale(1);
    background-size: cover;
    background-position:center;
    font-size: larger;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
#textboxexp
{
    position: absolute;
    height: 81%;
    width: 77%;
    left: 10px;
    background-color: #0f0c345a;
    color: #fff;
    top: 17%;
    opacity: 0;
    border-radius: 10px;
    transition: 0.4s;
}