@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}
:root 
{
	--pink: #E49EE6;
	--black: #000;
	--blue: #2a1f8c;
    --portgray: #ebebeb;
	--white: #fff;
	--gray: #c9c9c9;
	--red: #ff0000;
    --themecol: #a59cff;
	--accentcol: #a49cff90;
}
body
{
	min-height: 100vh;
	background-color: #a49cff90;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s;
}
::-webkit-scrollbar
{
	display: none;
}
#wave
{
	position: fixed;
	bottom: 0;
	animation: background 30s ease infinite;
}
#wave2,#blob
{
	position: fixed;
	top: 0;
	animation: background2 30s ease infinite;
}
#blob
{
	animation: circle 38s infinite;
}
.navigator
{
	position: fixed;
	top: 20px;
	left: 20px;
	bottom: 20px;
	width: 70px;
	box-sizing: initial;
	border-radius: 10px;
	overflow-x: hidden;
	transition: 0.2s;
	transition-delay: 0s;
	transform: translateX(-120px);
	border: 10px solid var(--themecol);
	background-color: var(--themecol);
}
.navigator.active
{
	transform: translateX(0px);
}
.navigator:hover
{
	width: 160px;
}
.navigator ul
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.navigator ul li
{
	position: relative;
	list-style: none;
	width: 100%;
	border-radius: 5px;
	transition: 0.2s;
	transform: scale(0.97);
}
.navigator ul li.active
{
	background: #fff;
	transform: scale(1);
}
.navigator ul li.active a
{
	color: #000;
}
.navigator ul li a
{
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	font-weight: bolder;
	color: #fff;
	text-decoration: none;
	transition: 0.2s;
}
.navigator ul li a .icon
{
	position: relative;
	display: block;
	min-width: 71px;
	height: 100px;
	line-height: 115px;
	text-align: center;
}
.navigator ul li a .icon ion-icon
{
	font-size: 2em;
}
.navigator ul li a .text
{
	position: relative;
	display: block;
	height: 110px;
	line-height: 105px;
	white-space: normal;
}
.toggle
{
	position: fixed;
	top: 20px;
	right: 20px;
	height: 50px;
	width: 50px;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.2s;
	background: var(--themecol);
}
.toggle.active
{
	background: #ff0000;
}
.toggle ion-icon
{
	position: absolute;
	color: #fff;
	font-size: 2em;
	display: none;
}
.toggle ion-icon.open,.toggle.active ion-icon.close
{
	display: block;
}
.toggle.active ion-icon.open,.toggle ion-icon.close
{
	display: none;
}
.container
{
	position: absolute;
	display: flex;
	justify-content: right;
	align-items: center;
	vertical-align: middle;
	top: 0;
	width: 100%;
	height: 100%;
}
#home,#portfolio,#about,#test,#settings,#search
{
	position: relative;
	height: 84%;
	width: 81%;
	right: 5%;
	color: white;
	overflow-y: scroll;
	border-radius: 10px;
	animation: fadein 0.5s;
}
#portfolio,#about,#settings,#test,#search
{
	display: none;
}
#settings dl
{
	width: 100%;
	text-align: center;
	font-size: 2em;
	font-weight: bolder;
	line-height: 60px;
	
}
#settings dl dt
{
	margin: 10px 0px;
	border-radius: 10px;
	border: 2px solid var(--themecol);
	background-color: var(--accentcol);
}
#settings dl dd
{
	border-radius: 10px;
	margin-bottom: 20px;
	border: 2px solid var(--themecol);
	background-color: var(--accentcol);
}
#settings dl dt .sysicon
{
	position: absolute;
	left: 0;
	padding: 6px 13px;
}
#settings dl dd input
{
	width: 100%;
	background-color: transparent;
	border: 0px;
	color: #fff;
	font-size: 0.9em;
	font-weight: bolder;
	outline: none;
	text-align: center;
}
#about p
{
	margin: 15px;
	position: relative;
	font-size: 2em;
}
#about p span
{
	position: relative;
	font-weight: bold;
	font-size: 300%;
    width: 0.7em;
	line-height: 90%;
	float: left;
}
#about img
{
	position: relative;
	height: 300px;
	margin: 15px;
	width: auto;
	border-radius: 50%;
	border: #fff solid 10px;
	float: right;
}
#search input
{
	width: 100%;
	padding: 10px;
	font-size: 1em;
	background: var(--accentcol);
	color: #fff;
	font-weight: bolder;
	outline: none;
	border-radius: 10px;
	border: 2px solid var(--themecol);
	text-align: center;
}
.links
{
	display: flex;
	flex-direction: row;
	color: white;
}
.links a
{
	position: relative;
	height: 50px;
	width: 50px;
	margin: 10px;
	border-radius: 50%;
	font-size: 2em;
	cursor: pointer;
	display: flex;
	color: white;
	justify-content: center;
	align-items: center;
	transition: 0.2s;
	background: var(--themecol);
}