@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://natski.netlify.app/ENCORE/styles/GIS/GIS.css');
.PAS-popup,
.PAS-popup * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Code Pro', monospace;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-text-size-adjust: 100%;
}
:root {
	--themecol-PAS: #4c64ba;
	--bgColor-PAS-default: #010409;
	--bgColor-PAS-muted: #161b22;
	--bgColor-PAS-inset: #0d1117;
	--fgColor-PAS-default: #e6edf3;
	--fgColor-PAS-muted: #848d97;
	--fgColor-PAS-onEmphasis: #ffffff;
}
.PAS-popup {
	position: fixed;
	top: 20px;
	left: 50%;
	max-width: min(95vmin, 90%);
	padding: 10px 20px 0 20px;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	box-shadow: 0 0 5px #00000020;
	background-color: var(--themecol-PAS);
	background-image: linear-gradient(45deg, #00000045, transparent);
	transform: translate(-50%, calc(-25px - 100%));
	opacity: 0;
	z-index: 99999;
	transition: opacity 0.3s, transform 0.3s;
}
.PAS-popup.open {
	opacity: 1;
	transform: translate(-50%, 0);
}
.PAS-popup div {
	position: relative;
	display: flex;
	width: 100%;
	margin-bottom: 10px;
	align-items: center;
}
.PAS-popup div GIS {
	position: relative;
	display: block;
	width: 25px;
	height: 25px;
	flex-shrink: 0;
	flex-grow: 0;
	background-color: var(--fgColor-PAS-default);
}
.PAS-popup div span {
	position: relative;
	margin: 0 10px 0 15px;
	width: 3px;
	height: 40px;
	border-radius: 100vmax;
	flex-shrink: 0;
	flex-grow: 0;
	background-color: #ffffff25;
}
.PAS-popup div p {
	width: auto;
	position: relative;
	color: var(--fgColor-PAS-default);
	font-size: 16px;
	margin: 0 15px;
}

.PAS-popup div input,
.PAS-popup div label {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: relative;
	width: auto;
	min-width: 190px;
	flex-grow: 4;
	height: 40px;
	border: 0;
	border-radius: 10px;
	background-color: var(--fgColor-PAS-default);
	background-image: linear-gradient(45deg, #00000020, transparent);
	padding: 0 10px;
	margin-right: 5px;
	cursor: pointer;
	color: var(--bgColor-PAS-default);
}
.PAS-popup div input[type='checkbox'] {
	outline: none;
	min-width: 60px;
	max-width: 70px;
	border-radius: 20px;
}

.PAS-popup div input[type='checkbox']::after {
	position: absolute;
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: var(--bgColor-PAS-default);
	left: 10px;
	transform: scale(1);
	top: 10px;
	transition: 0.2s;
}
.PAS-popup div input[type='checkbox']:hover::after {
	transform: scale(1.2);
}
.PAS-popup div input[type='checkbox']:checked::after {
	left: calc(100% - 30px);
	background-color: var(--themecol-PAS);
}

.PAS-popup div input:focus {
	outline: none;
}

.PAS-popup div input[type='range']::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: 5px;
	background-color: var(--bgColor-PAS-default);
	border-radius: 100vmax;
}

.PAS-popup div input[type='range']::-moz-range-track {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: 5px;
	background-color: var(--bgColor-PAS-default);
	border-radius: 100vmax;
}

.PAS-popup div input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: var(--bgColor-PAS-default);
	height: 30px;
	margin-top: -12px;
	border-radius: 100vmax;
	width: 5px;
	transition: 0.1s;
}
.PAS-popup div input[type='range']::-moz-range-thumb {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: var(--themecol-PAS);
	height: 30px;
	border-radius: 100vmax;
	width: 10px;
	transition: 0.1s;
}
.PAS-popup div input[type='file'] {
	display: none;
}
.PAS-popup div input[type='text'] {
	cursor: text;
}
.PAS-popup div label {
	position: relative;
	min-width: 190px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.PAS-popup div label p {
	position: absolute;
	color: var(--bgColor-PAS-default);
	opacity: 1;
	transition: 0.2s;
}
.PAS-popup div label p {
	opacity: 1;
}
.PAS-popup div label * {
	pointer-events: none;
}
.PAS-popup::after {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	background-color: var(--themecol-PAS);
	border: 2px dashed var(--fgColor-PAS-default);
	border-radius: 20px;
	opacity: 0;
	background-image: linear-gradient(45deg, #00000020, transparent);
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	color: var(--fgColor-PAS-default);
	content: 'Drop Files';
	transition: opacity 0.2s;
}
.PAS-popup.dropper::after {
	opacity: 1;
}
.PAS-popup.dropper * {
	pointer-events: none;
}

.PAS-popup div button {
	position: relative;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 50px;
	cursor: pointer;
	background-color: var(--fgColor-PAS-default);
	background-image: linear-gradient(45deg, #00000020, transparent);
	border: 0;
	border-radius: 10px;
	margin-left: 5px;
	height: 40px;
}
.PAS-popup div button GIS {
	position: relative;
	width: 20px;
	height: 20px;
	display: block;
	background-color: var(--bgColor-PAS-default);
}
.PAS-popup div button * {
	pointer-events: none;
	user-select: none;
}
@media screen and (max-width: 700px) {
	.PAS-popup {
		width: 100%;
	}
	.PAS-popup div {
		justify-content: center;
	}
}
